

// color variables
$yellow: #F3C25B;
$teal: #83BAB2;
$green: #8B9E74;
$red: #C22032;
$grey: #414042;
$navy: #1E376C;


@import "reset";

@import "fonts";

@import "mixins";

@import "base";

@import "grid";



// background-container
.container {
	background: white;
	padding-bottom: 40px;

	@include respond-to( 1220px ) {
		padding-bottom: 20px;
	}
}


// header styles
header {
	position: relative;
	background: url(../img/bg-header.png) bottom center no-repeat;
	background-size: cover;
	padding-bottom: 5px;
	padding: 10px;

	@include respond-to( 768px ) {
		padding: 30px;
	}

	@include respond-to( 1024px ) {
		padding: 50px;
	}

	.wrap {
		background: white;
		padding: 10px;
		box-shadow: 5px 5px 10px rgba( black, .1 );

		@include respond-to( 1024px ) {
			padding: 25px;
		}
	}
}


// wrap div
.wrap {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}



.main-content {
	padding: 20px;
	font-size: 20px;
	line-height: 28px;

	h2 {
		font-size: 25px;
		line-height: 30px;
		padding: 10px 0;
		color: $red;
	}

	h3 {
		font-size: 22px;
		line-height: 30px;
		padding: 10px 0;
		@include font;
	}

	@include respond-to( 768px ) {
		padding: 40px 80px;
		font-size: 28px;
		line-height: 40px;

		h2 {
			font-size: 40px;
			line-height: 45px;
			padding: 20px 0;
		}

		h3 {
			font-size: 35px;
			line-height: 40px;
			padding: 20px 0;
		}
	}
}



.button {
	background: $red;
	color: white;
	padding: 20px;
	display: inline-block;
	border-radius: 20px;
}




// footer styles
footer {
	color: $grey;
	padding: 30px 20px;
	text-align: center;
	border-top: 20px solid $red;
	@include clearfix;
}



.fine-print {
	padding: 20px 0 0;
	font-size: .8em;
	line-height: 1.2em;
	text-align: left;
}

